@model EmployeeManagement.Models.Employee

@{
    var photoPath = "~/Images/" + (Model.PhotoPath ?? "boneyard.jpg");
}

<h3>Delete</h3>
<h6>Are you sure you want to delete this employee?</h6>
<hr />
<div>
    <img class="card-img-top img-thumbnail" src="@Url.Content(photoPath)" style="width: 400px; height: 350px;" />
    <h5>Employee ID: @Model.Id</h5>
    <h5>Employee Name: @Model.FirstName @Model.LastName</h5>
    <h5>Department: @Model.Department</h5>
</div>

@using (Html.BeginForm("DeleteConfirmed", "Home", new { id = Model.Id }, FormMethod.Post))
{
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Cancel</a>
}